.CookiePopup {
    z-index: 9999;
    background-color: white;
    border: 5px solid #dd5d229c;
    padding: 3%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);

    @include desktop {
        width: 100vw;
        padding-inline-start: 14vw;
    }

    &-Content {
        color: rgba(0, 0, 0, 0.915);
        font-size: 18px;
        font-weight: 200;
    }

    &-CTA {
        padding: 12px;
        font-size: 14px;
        background-color: rgb(242 99 36);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: rgb(238 238 238);
        }
    }

    &-Link {
        font-size: 18px;
        font-weight: 400;
    }
}
